html,
body {
  /* background: linear-gradient(to right, pink, red);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0%;
  padding: 0%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(140, 165, 42, 0.571), white);
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  width: 100%;
  height: 30px;
  align-items: center;
}

.navbar > .nav-link {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.main-section {
  display: flex;
}
.left {
  width: 50%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right {
  background-image: url("./pexels-robin-stickel-70497.jpg");
  height: 80vh;
  width: 50%;
  background-position: center;
  background-size: cover;
}
